body{
    font-family: Verdana, Arial, sans-serif;
    color:#4c1f22;
    font-size: 10pt;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(img/back.jpg);
}
header{

}
nav{

}
article{

}
aside{
    
}
footer{

}